{% extends 'base.html' %}

{% block title%}
{{block.super}}: {{ title }}
{% endblock title%}


{% block content %}
<div class="d-flex justify-content-between mt-5 mb-5">
    <div class="col-3">
        {% include 'autosalon/components/_list_group.html' %}
    </div>

    <div class="col-8">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for car in cars %}
            <div class="col">
                <div class="card h-100">
                    {% if car.image %}
                    <img src="{{ car.image.url }}" class="card-img-top" alt="car"/>
                    {% else %}
                    <img src="fallback-image.jpg" class="card-img-top" alt="car"/>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ car.model }} | {{ car.year }}</h5>
                        <small class="text-muted">Engine: {{ car.engine }}</small>
                        <p class="card-text">{{ car.description|truncatewords:20 }}</p>
                        <a href="{% url 'detail' car.pk %}">Read more ->></a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Price: ${{ car.price }} | Uploaded: {{ car.updated }}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
